<html>
    <head>
        <title>Casting Agency App</title>
    </head>
    <body>
        <form method="post" action="/actor/create">
            <label for="Name">Full name:</label><br>
            <input type="text" name="name" /><br>
            <label for="Age">Age:</label><br>
            <input type="text" name="age" /><br>
            <label for="Gender">Gender:</label><br>
            <input type="text" name="gender" /><br>
            <input type="submit" value="Create" />
        </form>
        <ul>
            {% for d in data %}
            <li>{{d}}</li>
            {% endfor %}
        </ul>
    </body>
</html>